body {
    background-image: url('images/rps-background.png');
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Roboto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    gap: 10px;
}

.title-container {
    color: antiquewhite;
    font-size: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
}

.instruction {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-div:hover {
    transform: scale(1.1);
    margin: 1px;
}

.winner-message {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    /* color: transparent; */
}

.choice-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 250px;
    flex-wrap: wrap;
}

.choice-container button {
    padding: 50px;
    border-radius: 25%;
    font-size: 25px;
    text-align: center;
    transition-duration: 0.4s;
    /* background-color: #005fa2; */
    background-color: white;
    border-style: solid;
    border-width: 0.5px;
    border-color: black;
    color: black;
    cursor: pointer;
}

.choice-container button:hover {
    background-color: #005fa2;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-color: white;
    /* box-shadow: 0 9px #999; */
}

.choice-container button:active {
    background-color: #005fa2;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.outer-container {
    display: flex;
    gap: 15px;

}

.game-control-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    height: 150px;
}

.score-container-name,
.score-container {
    display: flex;
    gap: 25px;
    align-items: baseline;
    justify-content: center;
    font-size: 25px;
    flex-direction: column;
    color: white;
}